html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

*  {
  /* border:#333333 1px solid; */
}

.sig {
  display: grid;
  /* specify grid dimensions here */
  /* 3 columns */
  grid-template-columns: 1fr auto 3fr;
  grid-template-rows: auto auto auto

}

.sig .pic {
  height: 300px;
  background: #ccc;
  grid-row: 1 / 4;
}

.sig .bar {
  grid-column: 2/3;
  width: 3px;
  background: #333;
  margin:1rem;
  grid-row: 1 / 4;
}

.sig .name {
  background: #aaa;
  grid-column: 3/4;
  grid-row: 1/2;
}

.sig .details {
  background: #ccc;
  
  grid-column: 3/4;
  grid-row: 2/3;
}

.sig .logos {
  background: #eee;
  
  grid-column: 3/4;
  grid-row: 3/4;
}

